

# Python (FastAPI)
__pycache__/
*.py[cod]
*.env
*.db
*.sqlite3

# Venv
backend-fastapi/venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.next/

.venv/
venv/



"__pycache__/" 
"*.pyc" 

#pour frentend
node_modules/
dist/
build/
.env